body {
  padding: 20px;
  color: black;
  background-color: #f2f2f2;
  transition: all 0.5s ease;
}
body.darkMode {
  background-color: black;
  color: white;
}

.toggleMode {
  display: flex; 
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.toggleSwitch {
  background-color: black;
  color: white;
}
.left {
  size: 15px;
  padding: 3px 12px 3px 12px;
  border-radius: 20px;
  font-weight: bold;
  border: 0px solid;
  outline: none;
  background-color: #D9E8FB;
  color: #74747c;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 600px;
  margin-left: 2%;
  margin-bottom: 5%;
}
div.scroll-container {
  display: flex;
  overflow-x: auto;
  margin: 1rem 0;
  max-width: calc(100vw - 2rem);
}

div.scroll-container {
  padding: 10px;
}
.scroll-container button {
  border: 0;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery video {
  width: large;
  height: large;
  height: large;
}

div.desc {
  padding: 60px;
  text-align: center;
}
body.darkMode div.desc {
  color: black;
}

h1 {
font-size: 100px;
font-family: 'Times New Roman', Times, serif;
color: rgb(190, 183, 183);
font-style: normal;
margin-top: 0%;
margin-bottom: 0%;
}
h2 {
  font-size: 25px;
  color: rgb(135, 126, 126);
}

header {
  padding: 0.5rem;
  width: 100%;
  color: white;
  background-color: black;
}

button {
  font-size: 15px;
  border-radius: 10px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.gallery {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}