* {
  margin: 0;
  /* font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; */
}

body {
<<<<<<< HEAD
  background: url('https://img.pikbest.com/wp/202406/black-and-white-musical-notes-cartoon-style-3d-illustration-of-on-sheet-background_9860119.jpg!bwr800');  
  background-size: 100%;
=======
  /* background: url('https://img.pikbest.com/wp/202406/black-and-white-musical-notes-cartoon-style-3d-illustration-of-on-sheet-background_9860119.jpg!bwr800');   */
  background-size: 2200px;
>>>>>>> a0f933f2b35edc335b369825bea2a0a5ca1dd714
  background-blend-mode: soft-light;
  background-position: bottom;
  background-repeat: no-repeat;  
  padding: 1rem;
  text-align: center;
  background-color: #e2e8eeb6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
font-size: 100px;
font-family: 'Times New Roman', Times, serif;
color: rgb(190, 183, 183);
font-style: normal;
margin-top: 0%;
margin-bottom: 0%;
}
h2 {
  font-size: 25px;
  color: rgb(135, 126, 126);
}

header {
  padding: 0.5rem;
  width: 100%;
  color: white;
  background-color: black;
}

button {
<<<<<<< HEAD
  font-size: 25px;
  border-radius: 5px;
=======
  font-size: 15px;
  border-radius: 10px;
>>>>>>> a0f933f2b35edc335b369825bea2a0a5ca1dd714
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
<<<<<<< HEAD
  border: none;
  background-color: #f8f8f8;
  color: rgb(5, 5, 5);
=======
  border: 15px;
  background-color: #d3d6d5;
  color: rgb(51, 47, 47);
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
>>>>>>> a0f933f2b35edc335b369825bea2a0a5ca1dd714
}