* {
  margin: 0;
  /* font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; */
}

body {
  /* background: url('https://img.pikbest.com/wp/202406/black-and-white-musical-notes-cartoon-style-3d-illustration-of-on-sheet-background_9860119.jpg!bwr800');   */
  background-size: 2200px;
  background-blend-mode: soft-light;
  background-position: bottom;
  background-repeat: no-repeat;  
  padding: 1rem;
  text-align: center;
  background-color: #e2e8eeb6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
h1 {
font-size: 100px;
font-family: 'Times New Roman', Times, serif;
color: rgb(190, 183, 183);
font-style: normal;
margin-top: 0%;
margin-bottom: 0%;
}
h2 {
  font-size: 25px;
  color: rgb(135, 126, 126);
}

header {
  padding: 0.5rem;
  width: 100%;
  color: white;
  background-color: black;
}

button {
  font-size: 15px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 15px;
  background-color: #d3d6d5;
  color: rgb(51, 47, 47);
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}